body {
    font-size: 19px;
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
    color: #111;

    margin: 0px;
}

h1, h2, h3 {
    line-height: 1.2;
    color: #333;
}

h1 {
    margin-top: 0px;
    margin-bottom: 25px;
    text-align: center;
}

h2 {
    margin-top: 25px;
    margin-bottom: 15px;
}

#obalka {
    max-width: 920px;
    margin: 0px auto;
    padding: 50px;
    background-color: #f4f4f4;
}

#osobni {
    text-align: right;
    color: #444;
    margin: 25px 0px;
    font-style: italic;
}

#osobni p {
    margin: 0px;
}

hr {
    margin: 25px 0px;
    border-color: #eee;
    background-color: #eee;
}

